<!DOCTYPE html>
<html>
<head>
    <title>Список оценок</title>
</head>
<body>

<h2>Список оценок</h2>

<ul>
    {% for estimation in estimations %}
        <li>
            Наименование предмета: {{ estimation.number }}<br>
            <a href="{% url 'edit_estimation' pk=estimation.id %}">Изменить</a>
            <a href="{% url 'delete_estimation' pk=estimation.id %}">Удалить</a>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'add_estimation' %}">Добавить предмет</a>

</body>
</html>

